{% load static %}       
       
       <!-- Start Footer -->
        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="widget widget-about">
                                <img src="{% static 'store/assets/images/logo.png' %}"
                                     class="footer-logo"
                                     alt="Footer Logo"
                                     width="105"
                                     height="25">
                                <p>
                                    Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
                                </p>
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="https://twitter.com/" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="https://www.instagram.com/" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="https://www.pinterest.com/" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                                <!-- End .soial-icons -->
                            </div>
                            <!-- End .widget about-widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                        <div class="col">
                            <div class="widget">
                                <h4 class="widget-title">
                                    Useful Links
                                </h4>
                                <!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li>
                                        <a href="{% url 'contact:contact' %}">Liên hệ</a>
                                    </li>
                                    
                                </ul>
                                <!-- End .widget-list -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                        
                        <div class="col">
                            <div class="widget">
                                <h4 class="widget-title">
                                    Tài khoản của tôi
                                </h4>
                                <!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li>
                                        <a href="{% url 'customer:login' %}">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart:cart_detail' %}">Giỏ hàng</a>
                                    </li>
                                    <li>
                                        <a href="#">Yêu thích</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'customer:my-account' %}" >Theo dõi đơn hàng</a>
                                    </li>
                                    
                                </ul>
                                <!-- End .widget-list -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">
                        Copyright © 2019 Molla Store. All Rights Reserved.
                    </p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="{% static 'store/assets/images/payments.png' %}"
                             alt="Payment methods"
                             width="272"
                             height="20">
                    </figure>
                    <!-- End .footer-payments -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-bottom -->
        </footer>
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
        <i class="icon-arrow-up"></i>
    </button>
    <!-- End Footer -->