{% load static %}       
{% load social_share %}
       
       <!-- Start Footer -->
        <footer class="footer">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="widget widget-about">
                                <img src="{% static 'store/assets/images/logo.png' %}"
                                     class="footer-logo"
                                     alt="Footer Logo"
                                     width="105"
                                     height="25">
                                <p>
                                    Đồ án cuối khóa Python. <br>
                                    Web bán hàng gồm các chức năng: <br>
                                    Xem danh sách sản phẩm, Lọc sản phẩm theo điều kiện, Xem chi tiết sản phẩm, Thêm vào giỏ hàng, Mua sản phẩm, <br>
                                    Thanh toán, Liên hệ, Đăng ký thành viên, Quản lý đơn hàng, Trang Admin quản lý sản phẩm,...<br>
                                    Chức năng share social og:image
                                </p>
                                <div class="social-icons">
                                    {% comment %} {% post_to_twitter <text_to_post> <object_or_url> <link_text> <link_class> %} {% endcomment %}
                                    {% post_to_facebook "https://babyshop-namiya.herokuapp.com/"  "<i class='icon-facebook-f'></i>" %} 
                                </div>
                                <!-- End .soial-icons -->
                            </div>
                            <!-- End .widget about-widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                        <div class="col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">
                                    Useful Links
                                </h4>
                                <!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li>
                                        <a href="{% url 'contact:contact' %}">Liên hệ</a>
                                    </li>
                                    
                                </ul>
                                <!-- End .widget-list -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                        
                        <div class="col-md-3">
                            <div class="widget">
                                <h4 class="widget-title">
                                    Tài khoản của tôi
                                </h4>
                                <!-- End .widget-title -->
                                <ul class="widget-list">
                                    <li>
                                        <a href="{% url 'customer:login' %}">Đăng nhập</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart:cart_detail' %}">Giỏ hàng</a>
                                    </li>
                                    <li>
                                        <a href="#">Yêu thích</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'customer:my-account' %}" >Theo dõi đơn hàng</a>
                                    </li>
                                    
                                </ul>
                                <!-- End .widget-list -->
                            </div>
                            <!-- End .widget -->
                        </div>
                        <!-- End .col-sm-6 col-lg-3 -->
                    </div>
                    <!-- End .row -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-middle -->
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">
                        Ann's Python Project © 2022
                    </p>
                    <!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="{% static 'store/assets/images/payments.png' %}"
                             alt="Payment methods"
                             width="272"
                             height="20">
                    </figure>
                    <!-- End .footer-payments -->
                </div>
                <!-- End .container -->
            </div>
            <!-- End .footer-bottom -->
        </footer>
        <!-- End .footer -->
    </div>
    <!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top">
        <i class="icon-arrow-up"></i>
    </button>
    <!-- End Footer -->